a.botui-message-content-link:focus{outline:thin dotted}
a.botui-message-content-link:focus:active,a.botui-message-content-link:focus:hover{outline:0}
form.botui-actions-text{margin:0}
button.botui-actions-buttons-button,input.botui-actions-text-input{margin:0;font-size:100%;line-height:normal;vertical-align:baseline}
button.botui-actions-buttons-button::-moz-focus-inner,input.botui-actions-text-input::-moz-focus-inner{border:0;padding:0}
button.botui-actions-buttons-button{cursor:pointer;-webkit-appearance:button}
.botui-app-container{width:100%;height:10%;line-height:1}
@media (min-width:300px){.botui-app-container{width:270px;height:310px;margin:0 auto}}
@media (min-width:500px){.botui-app-container{width:290px;height:310px;margin:0 auto}}
@media (min-width:700px){.botui-app-container{width:320px;height:310px;margin:0 auto}}
.botui-container{width:100%;height:100%;overflow-y:scroll;overflow-x:scroll}
.botui-message{margin:10px 0;min-height:20px}
.botui-message-content{width:auto;max-width:85%;display:inline-block}
.botui-message-content.human{float:right}
.botui-message-content iframe{width:100%}
.botui-message-content-image{margin:5px 0;display:block;max-width:200px;max-height:200px}
.botui-message-content-link{text-decoration:underline}
.botui-actions-buttons-button+.botui-actions-buttons-button{margin-left:10px}
@media (min-width:400px){.botui-actions-text-submit{display:none}}	

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.botui-container{font-size:14px;background-color:#fff;font-family:"Open Sans",sans-serif}
.botui-messages-container{padding:5px 10px}
.botui-actions-container{padding:5px 10px}
.botui-message{min-height:30px}
.botui-message-content{padding:2px 8px;border-radius:15px;color:#595a5a;background-color:#ebebeb}
.botui-message-content.human{color:#f7f8f8;background-color:#919292}
.botui-message-content.text{line-height:1.3}
.botui-message-content.loading{background-color:rgba(206,206,206,.5);line-height:1.3;text-align:center}
.botui-message-content.embed{padding:5px;border-radius:5px}
.botui-message-content-link{color:#919292}
.botui-actions-text-input{border:0;outline:0;border-radius:0;padding:5px 7px;font-family:"Open Sans",sans-serif;background-color:transparent;color:#595a5a;border-bottom:1px solid #919292}
.botui-actions-text-submit{color:#fff;width:30px;padding:5px;height:30px;line-height:1;border-radius:50%;border:1px solid #919292;background:#777979}
.botui-actions-buttons-button{border:0;color:#fff;line-height:1;cursor:pointer;font-size:14px;font-weight:500;padding:7px 15px;border-radius:4px;font-family:"Open Sans",sans-serif;background:#777979;box-shadow:2px 3px 4px 0 rgba(0,0,0,.25)}
.slide-fade-enter-active{transition:all .3s ease}
.slide-fade-enter,.slide-fade-leave-to{opacity:0;transform:translateX(-10px)}
.dot{width:.5rem;height:.5rem;border-radius:.5rem;display:inline-block;background-color:#919292}
.dot:nth-last-child(1){margin-left:.3rem;animation:loading .6s .3s linear infinite}
.dot:nth-last-child(2){margin-left:.3rem;animation:loading .6s .2s linear infinite}
.dot:nth-last-child(3){animation:loading .6s .1s linear infinite}
@keyframes loading{0{transform:translate(0,0);background-color:#ababab}25%{transform:translate(0,-3px)}50%{transform:translate(0,0);background-color:#ababab}75%{transform:translate(0,3px)}100%{transform:translate(0,0)}}
	
a { text-decoration: none; }

.hide {
	display: none;
}

#testimonly-h4 {
    line-height: 1.5em;
    margin: 0;
}

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }


/* ---------- LIVE-CHAT ---------- */

#testimonly-live-chat {
	font-size: 12px;
    right: 26px;
    position: fixed;
    width: 350px;
	height : 380px;
	overflow:hidden;
	display: none;
	z-index: 10;
	top: 15%;        
}
@media (min-width:300px){#testimonly-live-chat{width:290px;height:450px;margin:0 auto}}
@media (min-width:500px){#testimonly-live-chat{width:310px;height:450px;margin:0 auto}}
@media (min-width:700px){#testimonly-live-chat{width:330px;height:450px;margin:0 auto}}

#testimonly-header  {
    background: #0000aa;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 12px 24px;
	text-align: center;
}


#testimonly-live-chat h4 {
    font-size: 12px;
}

#testimonly-live-chat h5 {
    font-size: 10px;
}

#testimonly-live-chat form {
    padding: 24px;
}

#testimonly-live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
}

.testimonly-chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.testimonly-chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.testimonly-chat {
    background: #fff;
}

.testimonly-chat-history {
    height: 320px;
	border: solid;
}
@media (min-width:300px){#testimonly-chat-history{width:250px;height:400px;margin:0 auto}}

.testimonly-chat-message {
    margin: 16px 0;
}

.testimonly-chat-message img {
    border-radius: 50%;
    float: left;
}

.testimonly-chat-message-content {
    margin-left: 56px;
}

.testimonly-chat-time {
    float: right;
    font-size: 10px;
}

.testimonly-chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}

.testimonly-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.testimonly-modal-content {
    background-color: #16E56E;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.testimonly-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.testimonly-close:hover,
.testimonly-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}